# Django
*.sqlite3
*.pyc
__pycache__/
db.sqlite3
media/
logs/

# Environment files
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
ENV/